<h1>Authors</h1>
<div class="authors">
  <% authors.forEach(function(author) { %>
    <div class="well author">
      <img src="https://picsum.photos/200/200">
      <h2>
        <a href="/authors/<%= author.id %>">
          <%= author.getFullName() %>
        </a>
      </h2>
    </div>
  <% }) %>
</div>

<hr />

<a href="/">&larr; Back Home</a>
